# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- popular languages
- common used libraries
- how to make tables in python
- how to navigate jupyter

Some of the popular languages that Data Scientists use are:
1. phyton
2. R
3. SQL

In [ ]:
# Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. plotly
3. tensorflow

|data science tools|
|------------------|
| Jupyter Notebook |
| Rstudios |
| Apache Zeppelin |

### below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers

3*4+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author:
Shaquille Doorson